<div class="skills col-sm-12">
  <h2>SKILLS</h2>
  <div class="col-sm-12">
    <div class="col-xs-6 col-sm-4">
      <h3>Java</h3>
      <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="90" [animated]="true"
        [animationDuration]="10">
      </mwl-gauge>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h3>Spring</h3>
      <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="80" [animated]="true"
        [animationDuration]="1">
      </mwl-gauge>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h3>GraphQL</h3>
      <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="85" [animated]="true"
        [animationDuration]="1">
      </mwl-gauge>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h3>Angular 4</h3>
      <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="85" [animated]="true"
        [animationDuration]="1">
      </mwl-gauge>
    </div>

    <div class="col-xs-6 col-sm-4">
      <h3>React</h3>
      <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="85" [animated]="true"
        [animationDuration]="1">
      </mwl-gauge>
    </div>

    <div class="col-xs-6 col-sm-4">
      <h3>Mysql</h3>
      <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="85" [animated]="true"
        [animationDuration]="1">
      </mwl-gauge>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h3>Git</h3>
      <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="90" [animated]="true"
        [animationDuration]="1">
      </mwl-gauge>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h3>AWS-ECS</h3>
      <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="75" [animated]="true"
        [animationDuration]="1">
      </mwl-gauge>
    </div>
  </div>
</div>