<div class="left-panel">
  <img img-preloader="../../assets/left_panel_imag.jpg">
  <div class="mask1">
    <div class="intro-content">
      <div class="text">
        <h1>HELLO
          <br> I'M
          <span>SHUBHAM</span> GARG</h1>
        <h2>WEB DEVELOPER</h2>
      </div>

      <div class="social-media">
        <a href="https://www.linkedin.com/in/shubham-garg-773a6292/" target="blank" class="fa fa-linkedin" title="Linkedin"></a>
        <a href="https://github.com/shubham49" target="blank" class="fa fa-github" title="GitHub"></a>
        <a href="https://www.facebook.com/shubham.garg.7923030" target="blank" class="fa fa-facebook" title="Facebook"></a>
        <a href="https://plus.google.com/u/0/113780729948686666118" target="blank" class="fa fa-plus" title="Google+"></a>

      </div>
      <div class="links">
        <a target="blank" href="/assets/website_resume_shubham.pdf">Download Resume</a>
        <a target="blank" href="https://github.com/shubham49/personal-website">View Source</a>
      </div>
    </div>
  </div>

</div>