.right-panel {
    height: 100vh;
    position: relative;
    transition: all 1s ease-in-out;
}

.right-panel-shift {
    animation: right-animate 1s forwards;
}

@keyframes right-animate {
    from {left:0%}
    to {left:100%}
}


.right-panel-shift-undo {
    animation: right-animate-undo 1s forwards;
}

@keyframes right-animate-undo {
    from {left:100%}
    to {left:0%}
}

.profile {
    @extend .right-panel-component;
    background-image: url(../../assets/profile_image.jpg);
}

.profile:hover {
    @extend .right-panel-component-hover;
}

.resume {
    @extend .right-panel-component;
    background-image: url(../../assets/resume_image.jpg);
}

.resume:hover {
    @extend .right-panel-component-hover;
}

.portfolio {
    @extend .right-panel-component;
    background-image: url(../../assets/portfolio_image.jpg);
}

.portfolio:hover {
    @extend .right-panel-component-hover;
}

.contact {
    @extend .right-panel-component;
    background-image: url(../../assets/contact_image.jpg);
}

.contact:hover {
    @extend .right-panel-component-hover;
}

.right-panel-component {
    height: 25vh;
    background-position: center;
    line-height: 25vh;
    text-align: center;
    transition: all 1s;
    cursor: pointer;
    :hover {
        color: white;
    }
}

.right-panel-component-hover {
    color: white;
    background-position: 40% 40%;
}

.mask1 {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    top: 0;
    left: 0;
    background: #1a1b23;
}

.heading {
    top: 30%;
    position: relative;
}

.heading i{
    background: rgba(256, 256, 256, 0.2);
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    margin: auto auto 10px;
    text-align: center;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    width: 60px;
    -webkir-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.heading h2 {
    color: #fff;
    margin: 0;
    font-size: 25px;
    opacity: 0.9;
}

.heading h2 span {
    color: #FFC300;
}

.heading h3 {
    color: #fff;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px;
    opacity: 0.9;
    font-style: italic;
    font-weight: 300;
}