<div class="right-panel">
  <div class="profile" (click)="navigate('profile')">
    <div class="mask1">
        <div class="heading col-xs-11">
            <div class="col-xs-4 hidden-xs">
                <i class="fa fa-user"></i>
            </div>
            <div class="col-sm-6" style="margin-top: 5px; text-align: left;">
                <h2>PR<span>O</span>FILE</h2>
                <h3>Some words about me.</h3>
            </div>
        </div>
    </div>
  </div>
  <div class="resume" (click)="navigate('resume')">
    <div class="mask1">
        <div class="heading col-xs-11">
            <div class="col-xs-4 hidden-xs">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="col-sm-6" style="margin-top: 5px; text-align: left;">
                <h2>RE<span>S</span>UME</h2>
                <h3>Something about my experience and skills.</h3>
            </div>
        </div>
    </div>
  </div>
  <div class="portfolio" (click)="navigate('portfolio')">
    <div class="mask1">
        <div class="heading col-xs-11">
            <div class="col-xs-4 hidden-xs">
                <i class="fa fa-briefcase"></i>
            </div>
            <div class="col-sm-6" style="margin-top: 5px; text-align: left;">
                <h2>PORT<span>F</span>OLIO</h2>
                <h3>Have a spoon of my work.</h3>
            </div>
        </div>
    </div>
  </div>
  <div class="contact" (click)="navigate('contact')">
    <div class="mask1">
        <div class="heading col-xs-11">
            <div class="col-xs-4 hidden-xs">
                <i class="fa fa-envelope-o"></i>
            </div>
            <div class="col-sm-6" style="margin-top: 5px; text-align: left;">
                <h2>CO<span>N</span>TACT</h2>
                <h3>Say hello or find me.</h3>
            </div>
        </div>
    </div>
  </div>
</div>