<div class="col-sm-12 col-xs-12">
    <div class="col-sm-5 left-portfolio-panel">
        <div class="mask"></div>
        <div class="portfolio-left-text">
            <h1>POR<span>T</span>FOLIO</h1>
        </div>
    </div>

    <div class="col-sm-7 right-portfolio-panel">
      <div class="cross-button" (click)="closeComponent()">
        &#10005;
      </div>
      <div class="header">PORTFOLIO</div>
      <div class="education-container col-sm-10 col-sm-offset-1">
    
      </div>

    </div>

</div>