<div class="col-sm-12 col-xs-12">
    <div class="col-sm-5 left-portfolio-panel">
        <div class="mask"></div>
        <div class="portfolio-left-text">
            <h1>POR<span>T</span>FOLIO</h1>
        </div>
    </div>

    <div class="col-sm-7 right-portfolio-panel">
      <div class="cross-button" (click)="closeComponent()">
        &#10005;
      </div>
      <div class="header">PORTFOLIO</div>
      <div class="portfolio-container col-sm-10 col-sm-offset-1">
        <div class="col-sm-6">
          <div class="newspie portfolio-component" (click)="goTo('http://newspie.tk')">
            <div class="description">
              <span>Newspie</span>
              <div class="line-separator"></div>
              <p>Newspie is a social platform for reading categorized news and get updated with what your friends are reading.</p>
              <p>
                <strong>Tags:</strong> Angular 4, Spring, Hibernate, Node, Mysql, Heroku, Git
              </p>
            </div>
          </div>
        </div>
      
        <div class="col-sm-6">
          <div class="chatbot portfolio-component" (click)="goTo('https://bluemix-hello-node-ncozihetdr.now.sh/')">
            <div class="description">
              <span>IBM Chatbot</span>
              <div class="line-separator"></div>
              <p>This web application uses the IBM Watson conversation service to automate the chat process.</p>
              <p>
                <strong>Tags:</strong> Node, IBM Watson, HTML, Jquery
              </p>
            </div>
          </div>
        </div>
      
        <div class="col-sm-6 col-sm-offset-3">
          <div class="teammates portfolio-component" (click)="goTo('https://github.com/TEAMMATES/teammates/pulls?utf8=%E2%9C%93&q=involves%3Ashubham49')">
            <div class="description">
              <span>Teammates</span>
              <div class="line-separator"></div>
              <p>Contributed to the open source project TEAMMATES.</p>
              <p>
                <strong>Tags:</strong> Bootstrap, Jquery, ES6, Webpack
              </p>
            </div>
          </div>
        </div>

      </div>
    
    </div>

</div>