.cross-button {
    position: fixed;
    cursor: pointer;
    font-size: 40px;
    margin-left: 55%;
    margin-top: 1%;
    z-index: 2000;
}

.left-portfolio-panel {
    background-image: url(../../assets/portfolioBG.jpg);
    background-position: center;
    background-size: 150% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    line-height: 100vh;
    overflow: hidden;
    text-align: center;
    transition: all ease-in-out 1s;
    position: fixed;
}

.portfolio-left-text {
    position: relative;
    top: 50%;
    h1 {
        color: white;
        font-size: 50px;
    }
    h1:after {
        background-color: #FFC300;
        position: absolute;
        content: "";
        top: 100%;
        left: 20%;
        width: 400px;
        height: 6px;
    }
    span {
        color: #FFC300;
    }
}

.right-portfolio-panel {
    overflow: hidden;
    text-align: center;
    transition: all ease-in-out 1s;
    position: relative;
    left: 41.5%;
}

.header {
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.display {
    z-index: 1500;
}

.portfolio-container {
    .portfolio-component {
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 95%;
        height: 274px;
        border-radius: 10px;
        border: 1px solid;
        margin-bottom: 10px;
        .description {
            height: 100%;
            background-color: whitesmoke;
            opacity: 0;
            transition: 1s all;
            text-align: left;
            span {
                padding: 25px;
                font-size: 25px;
            }
            .line-separator {
                margin: 5px;
                height: 6px;
                background-color: #ffc300;
            }
            p {
                padding: 10px;
            }
        }
        .description:hover {
            opacity: 0.8;
            color: black;
        }
    }
    .portfolio-component:hover {
        cursor: pointer;
    }
}

.newspie {
    background-image: url(../../assets/portfolio/newspie.png);
}

.chatbot {
    background-image: url(../../assets/portfolio/chatbot.png);
}

.teammates {
    background-image: url(../../assets/portfolio/teammates.png);
}
