<div class="col-sm-12 col-xs-12">
    <div class="col-sm-5 left-resume-panel">
        <div class="mask"></div>
        <div class="resume-left-text">
            <h1>RE<span>S</span>UME</h1>
        </div>
    </div>

    <div class="col-sm-7 right-resume-panel">
      <div class="cross-button" (click)="closeComponent()">
        &#10005;
      </div>
      <div class="header">EDUCATION</div>
      <div class="education-container col-sm-10 col-sm-offset-1">
        <div class="item">
          <div class="bullet hidden-xs">
          </div>
          <div class="education-content">
            <h3>GURU NANAK DEV UNIVERSITY
              <span> / 2012 - 2016</span>
            </h3>
            <p>
              Did my graduation in electronics and communication engineering (ECE). I developed my interest in programming world in this period.
              I learnt programming languages from MOOCs, participated in coding challenges and gained confidence from it.
            </p>
          </div>
        </div>
    

        <div class="item">
          <div class="bullet hidden-xs">
          </div>
          <div class="education-content">
            <h3>R.B.D.A.V PUBLIC SCHOOL
              <span> / 2010 - 2012</span>
            </h3>
            <p>
              Did 10th and 12th in this period. I had choosen Non-Medical subjects and got 93.7% in PCM.
              I developed my understanding about the basic subjects in this period.
            </p>
          </div>
        </div>
    
      </div>

      <div class="experience col-sm-12">
        <div class="header">EXPERIENCE</div>
        <div class="experience-container col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="item">
            <div class="bullet hidden-xs">
            </div>
            <div class="experience-content">
              <h3>Associate
                <span> / October 2017 - Present
                  <br> Nagarro Softwares Pvt. Ltd.</span>
              </h3>
              <p>
                Significantly contributed in creating CI/CD pipeline for angular codebase. Worked on microsservices architecture and developed
                REST APIs.
              </p>
            </div>
          </div>
      
          <div class="item">
            <div class="bullet hidden-xs">
            </div>
            <div class="experience-content">
              <h3>Junior Associate
                <span> / October 2016 - September 2017
                  <br> Nagarro Softwares Pvt. Ltd.</span>
              </h3>
              <p>
                Worked on the enterprise projects as a full stack developer. My position of responsibility was to implement
                new change requests and deploy it to AWS environment.
              </p>
            </div>
          </div>
      
          <div class="item">
            <div class="bullet hidden-xs">
            </div>
            <div class="experience-content">
              <h3>Trainee
                <span> / February 2016 - September 2016
                  <br> Nagarro Softwares Pvt. Ltd.</span>
              </h3>
              <p>
                I started my professional career from here. I learnt basic web technologies and developed flight booking web application
                under the mentorship of senior developer.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Skills block start -->
      <div class="skills col-sm-12">
        <h2>SKILLS</h2>
        <div class="col-sm-12">
          <div class="col-xs-6 col-sm-4">
            <h3>Java</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="90" [animated]="true" [animationDuration]="10">
            </mwl-gauge>
          </div>
          <div class="col-xs-6 col-sm-4">
            <h3>Angular 4</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="85" [animated]="true" [animationDuration]="1">
            </mwl-gauge>
          </div>
          <div class="col-xs-6 col-sm-4">
            <h3>Spring</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="80" [animated]="true" [animationDuration]="1">
            </mwl-gauge>
          </div>
      
          <div class="col-xs-6 col-sm-4">
            <h3>Hibernate</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="85" [animated]="true" [animationDuration]="1">
            </mwl-gauge>
          </div>
          <div class="col-xs-6 col-sm-4">
            <h3>JavaScript</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="80" [animated]="true" [animationDuration]="1">
            </mwl-gauge>
          </div>
          <div class="col-xs-6 col-sm-4">
            <h3>Mysql</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="85" [animated]="true" [animationDuration]="1">
            </mwl-gauge>
          </div>
          <div class="col-xs-6 col-sm-4">
            <h3>CSS</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="70" [animated]="true" [animationDuration]="1">
            </mwl-gauge>
          </div>
          <div class="col-xs-6 col-sm-4">
            <h3>Git</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="90" [animated]="true" [animationDuration]="1">
            </mwl-gauge>
          </div>
        </div>
      </div>


    </div>

</div>