<div class="col-sm-12 col-xs-12">
    <div class="col-sm-5 left-resume-panel">
        <div class="mask"></div>
        <div class="resume-left-text">
            <h1>RE<span>S</span>UME</h1>
        </div>
    </div>

    <div class="col-sm-7 right-resume-panel">
      <div class="cross-button" (click)="closeComponent()">
        &#10005;
      </div>
      <div class="header">EDUCATION</div>
      <div class="education-container col-sm-10 col-sm-offset-1">
        <div class="item">
          <div class="bullet hidden-xs">
          </div>
          <div class="education-content">
            <h3>University of Graphics
              <span> / October 2013 - March 2015</span>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et pulvinar ligula. Praesent maximus ornare quam, id consectetur
              dui eleifend nec. Nam consectetur orci id nulla varius, quis facilisis dui vulputate. Sed ultrices eu erat non
              mollis. Phasellus ut libero.
            </p>
          </div>
        </div>
    

        <div class="item">
          <div class="bullet hidden-xs">
          </div>
          <div class="education-content">
            <h3>University of Graphics
              <span> / October 2013 - March 2015</span>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et pulvinar ligula. Praesent maximus ornare quam, id consectetur
              dui eleifend nec. Nam consectetur orci id nulla varius, quis facilisis dui vulputate. Sed ultrices eu erat non
              mollis. Phasellus ut libero.
            </p>
          </div>
        </div>


        <div class="item">
          <div class="bullet hidden-xs">
          </div>
          <div class="education-content">
            <h3>University of Graphics
              <span> / October 2013 - March 2015</span>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et pulvinar ligula. Praesent maximus ornare quam, id consectetur
              dui eleifend nec. Nam consectetur orci id nulla varius, quis facilisis dui vulputate. Sed ultrices eu erat non mollis.
              Phasellus ut libero.
            </p>
          </div>
        </div>
    
      </div>

      <div class="experience col-sm-12">
        <div class="header">EXPERIENCE</div>
        <div class="experience-container col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="item">
            <div class="bullet hidden-xs">
            </div>
            <div class="experience-content">
              <h3>Senior Web Designer
                <span> / October 2013 - March 2015
                  <br> Lorem Ipsum, Inc.</span>
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et pulvinar ligula. Praesent maximus ornare quam, id consectetur
                dui eleifend nec. Nam consectetur orci id nulla varius, quis facilisis dui vulputate. Sed ultrices eu erat non
                mollis. Phasellus ut libero.
              </p>
            </div>
          </div>
      
          <div class="item">
            <div class="bullet hidden-xs">
            </div>
            <div class="experience-content">
              <h3>Senior Web Designer
                <span> / October 2013 - March 2015
                  <br> Lorem Ipsum, Inc.</span>
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et pulvinar ligula. Praesent maximus ornare quam, id consectetur
                dui eleifend nec. Nam consectetur orci id nulla varius, quis facilisis dui vulputate. Sed ultrices eu erat non mollis.
                Phasellus ut libero.
              </p>
            </div>
          </div>
          
          <div class="item">
            <div class="bullet hidden-xs">
            </div>
            <div class="experience-content">
              <h3>Senior Web Designer
                <span> / October 2013 - March 2015
                  <br> Lorem Ipsum, Inc.</span>
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et pulvinar ligula. Praesent maximus ornare quam, id consectetur
                dui eleifend nec. Nam consectetur orci id nulla varius, quis facilisis dui vulputate. Sed ultrices eu erat non mollis.
                Phasellus ut libero.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Skills block start -->
      <div class="skills col-sm-12">
        <h2>SKILLS</h2>
        <div class="col-sm-12">
          <div class="col-sm-4">
            <h3>JavaScript</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="50" [animated]="true" [animationDuration]="10">
            </mwl-gauge>
          </div>
          <div class="col-sm-4">
            <h3>JavaScript</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="50" [animated]="true" [animationDuration]="1">
            </mwl-gauge>
          </div>
          <div class="col-sm-4">
            <h3>JavaScript</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="50" [animated]="true" [animationDuration]="1">
            </mwl-gauge>
          </div>
      
          <div class="col-sm-4">
            <h3>JavaScript</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="50" [animated]="true" [animationDuration]="1">
            </mwl-gauge>
          </div>
          <div class="col-sm-4">
            <h3>JavaScript</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="50" [animated]="true" [animationDuration]="1">
            </mwl-gauge>
          </div>
          <div class="col-sm-4">
            <h3>JavaScript</h3>
            <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="50" [animated]="true" [animationDuration]="1">
            </mwl-gauge>
          </div>
        </div>
      </div>


    </div>

</div>