<div class="col-sm-12 col-xs-12">
    <div class="col-sm-5 left-profile-panel">
        <div class="mask"></div>
        <div class="profile-left-text">
            <h1>PR<span>O</span>FILE</h1>
        </div>
    </div>

    <div class="col-sm-7 right-profile-panel">
        <div class="cross-button" (click)="closeComponent()">
            &#10005;
        </div>
        <div class="header">STORY OF GLORY</div>
        <div class="profile-container">
            <div class="col-xs-offset-1 col-sm-4 col-sm-offset-0">
                <img class="profile-pic img-responsive" src="../../assets/profile_image_1.png">
            </div>
            <div class="col-sm-8">
                <div class="heading-about">A Full Stack Developer</div>
                <br>
                <p>A growing engineer who has the technical knowledge of how things work in the world of zero's and one's, ready
                    with an edge to dive into the design process to discover, ideate and build some cool product.</p>
                <br>
                <a target="blank" href="/assets/website_resume_shubham.pdf">Download Resume</a>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>

</div>